on:
  push:
    branches:
      - main
    
permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
          token: ${{ secrets.NPM_TOKEN }}
      - name: Install pnpm
        run: |
          npm install -g pnpm
      - name: Install dependencies
        working-directory: ./javascript
        run: |
          pnpm install
      - name: Publish to npm
        working-directory: ./javascript
        run: |
          pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}