on:
  push:
    branches:
      - main
    
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Install pnpm
        run: |
          npm install -g pnpm
      - name: Install dependencies
        working-directory: ./javascript
        run: |
          pnpm install
      - name: Publish to npm
        working-directory: ./javascript
        run: |
          pnpm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}