on:
  push:
    branches:
      - main
    
permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - name: Install pnpm
        run: |
          npm install -g pnpm
      - name: Install dependencies
        working-directory: ./javascript
        run: |
          pnpm install
      - name: Publish to npm
        working-directory: ./javascript
        run: |
          pnpm publish