on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install -r ./python/requirements.txt
      - name: Publish to PyPI
        run: |
          cd python
          python -m pip install --upgrade build twine
          python -m build
          python -m twine upload dist/* -u theorywrong -p ${{ secrets.PYPI_TOKEN }}